# pandas
`pandas` is a powerful and popular python module for manipulating and understanding tabular data. <br><br>
The central objects in pandas are the `DataFrame` and the `Series`. A DataFrame can be thought of as a table with columns and records (or as a dict like container for series objects). A Series can be thought of as a column of a DataFrame (or a one-dimensional ndarray with axis labels).

## Create a Series
`pd.Series(data=None, index=None, dtype=None, name=None, copy=None)`. See [docs](https://pandas.pydata.org/docs/reference/api/pandas.Series.html). When using a dictionary, 

## Create a DataFrame
There are a few ways:
- use a csv or excel file: `pd.read_csv(filepath, ...)` or `read_excel`. The function is well endowed with *many* important optional [arguments](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).
- Note that pandas has so much more functionality. Including reading html tables, and running sql queries on a DataFrame (pd.read_sql)
- use constructor: `pd.DataFrame(data, index, columns, dtype, copy)`.

## Summary functions and attributes
`.shape
.head(n)
.tail(n)
.sample(n)
.describe()
.mean()
.unique()
.value_counts()
`
## Note
There are so many useful attributes of [DataFrame](https://pandas.pydata.org/docs/reference/frame.html). e.g. .iterrows, .insert, .columns, .index, .apply, .groupby, .drop_duplicates, .fillna, .idxmax, .isna, .isnull, .join, .merge, .plot, .append, and so on. The index is the column that indexes the records (e.g. gives an ID)

## Accessing elements & arithmetic of Series
Use `.loc` and  `.iloc` for accessing records and columns. Use `.at` and `iat` for accessing single entries. These are special objects that can be indexed using standard python notation. df.loc[record]

In [18]:
import pandas as pd
data = {
    'Pigeon': [9, 3, 5],
    'Lion': [10, 9, 9],
    'Cat': [6, 10, 9],
    'Mongoose': [5, 6, 3],
    'Worm' : [4, 5, ],
    'Turtle' : [3, 8, 4]
}
x = pd.DataFrame.from_dict(data=data, orient='index', columns=['attack', 'stealth', 'hp'])
#x.loc['Turtle'] = [3, 8, 3]
x.loc['Rabbit'] = [5, 10, 2]
x

          attack  stealth   hp
Pigeon         9        3  5.0
Lion          10        9  9.0
Cat            6       10  9.0
Mongoose       5        6  3.0
Worm           4        5  NaN
Turtle         3        8  4.0
Rabbit         5       10  2.0